.nav-header{
	padding: 10px 5px; cursor: pointer;
}
.nav-header:hover{
	text-decoration: none;
}
.nav-item{
	cursor: pointer;
}
.nav-item.active{
	background-color: #eee;
}
.top-pad{
	padding-top: 25px;
}
.countdownTimer{
	width: 100px; margin: auto;
}
.nav-modules{
	margin-right: 10px;
}
.nav-modules-icon{
	float: right; padding-right: 25px;
}
.chart{
	width: 400px; margin: auto;
}
.logo{
	width: 100px; display: block; margin: auto;
}
.no-select{
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; 
}
.fullscreen{
	width: 25px; float: right; cursor: pointer;
}
@media screen and (max-width:992px){
	
}
#gridView{
	margin-left: 25px;
}
#charts{
	margin-bottom: 100px;
}
.title{
	text-align: center;
}
.node-select{
	position: relative; float: right; top: -30px; right: 8px; border: none;
}
.team-select{
	top: -32px; float: right; right: 50px;
}
.border {
	border: 2px solid black;
	border-radius: 15px;
}
#packetsSent11{
	width: 90% !important;
}
#bitsLeft{
	height: 95px !important;
}
.packetsSent_val{
	position: relative; top: 5px; padding-bottom: 25px;
}
.bitsLeft_val{
	position: relative; top: -12px;
}
.line{
	width: 100%; height: 2px; margin-bottom: 15px;
}
.team_data{
	width: 245px;
}