.hidden {
	display: none;
}
.nav-header{
	padding: 10px 5px; cursor: pointer;
}
.nav-header:hover{
	text-decoration: none;
}
.nav-item{
	cursor: pointer;
}
.nav-item.active{
	background-color: #eee;
}
.top-pad{
	padding-top: 25px;
}
.countdownTimer{
	width: 100px; margin: auto;
}
.nav-modules{
	margin-right: 10px;
}
.nav-modules-icon{
	float: right; padding-right: 25px;
}
.chart{
	width: 400px; margin: auto;
}
.logo{
	width: 100px; height: 100px; display: block; margin: auto;
}
.no-select{
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; 
}
.fullscreen{
	width: 25px; float: right; cursor: pointer;
}
#waterfall {
    width: 100%;
    overflow: hidden;
}

#waterfall img {
	width: 100%;
}

.grid-holder{
	height: 550px;
}
#gridViewContainer {
	width: 100%;
	height: 100%;
}
#gridView{
	width: 512px;
	height: 100%;
	margin: auto;
}

#charts{
	margin-bottom: 100px;
}
.center{
	text-align: center;
}
.title{
	text-align: center;
}
.node-select{
	position: relative; float: right; top: -30px; right: 8px; border: none;
}
.team-select{
	top: -32px; float: right; right: 50px;
}
.border {
	border: 2px solid black;
	border-radius: 15px;
}
#packetsSent11{
	width: 90% !important;
}
#bitsLeft{
	height: 95px !important;
}
.packetsSent_val{
	position: relative; top: 5px; padding-bottom: 25px;
}
.bitsLeft_val{
	position: relative; top: -12px;
}
.line{
	width: 100%; height: 3px; margin-bottom: 15px;
}
.team_data{
	width: 160%;
}
#countdownTimerContainer{
	width: 40%;
	float: right;
}
#countdownTimerContainer .canvas{
	width: 140px;
}
.node_data {
	width: 100%;
}
.text {
	width: 30px;
}
.node_data tr td:first-child{
	width: 30px;
}
.node_data tr td:nth-child(2){
	width: 165px;
}
.node_data tr td div{
	height: 18px;
	width: 100%;
}
#button_up {
	position: relative;
	left: 50px;
}
#button_up button {
	transform: rotate(90deg);
}
#button_left {
	position: absolute;
	left: 0px;
	top: 60;
}
#button_right {
	position: absolute;
	right: 0px;
	top: 60;
}
#button_down {
	position: relative;
	left: 50px;
}
#button_down button {
	transform: rotate(90deg);
}
input[type="range"] {
	cursor: pointer !important;
}
input[type="range"]:disabled {
	cursor: not-allowed !important;
}
button {
	border: none;
}
button:disabled {
	background: #FFFFFF;
	border: none;
	cursor: not-allowed;
	color: lightgray;
}
#grid, #animations, #keyboard, #interference, #clickCanvas{
	position: absolute;
	top: 20px;
}
#interference {
	margin-left: -48px;
	top: -20px;
}
.interference-canvas {
	position: absolute;
	top: -20px;
	margin-left: -48px;
}
.interference-canvas.viewer {
	margin-left: -53px;
}
#countdownTimerContainer, #interferenceContainer {
	position: absolute;
	top: 500px;
}
#interferenceContainer {
	right: 440px;
}
#interferenceContainer h6 {
	position: absolute; left: 250px; top: 0px; width: 175px;
}
#interferenceContainer .knob-holder {
	position: absolute; left: 250px; top: 45px;
}
#interferenceContainer .knob-holder:nth-child(3){
	left: 350px;
}
#countdownTimerValue {
	position: relative;
	left: 61px;
	top: 77px;
}
#gridLine {
	background-color: grey;
}
.digits_3{
	left: 67px !important;
}
.digits_2{
	left: 64px !important;
}
.digits_1{
	left: 68px !important;
}
.knob-holder {
	height: 135px;
}
.knob-container {
	width: 75px;
	height: 85px;
	margin: auto;
}
.knob-container input {
	width: 79px; 
	height: 50px; 
	position: absolute; 
	vertical-align: middle; 
	margin-top: 50px; 
	margin-left: -114px; 
	border: 0px; 
	background: none; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	font-stretch: normal; 
	font-size: 30px; 
	line-height: normal; 
	font-family: Arial; 
	text-align: center; 
	color: rgb(34, 34, 34); 
	padding: 0px; 
	-webkit-appearance: none;
}
.knob-text{
	width: 100%;
	text-align: center;
}
#tenToSix{
	width: 25px;
	position: relative;
	bottom: 4px;
	left: 4px;
}
#gridConfirmation {
	position: absolute;
	top: 43px;
	font-size: 9px;
	left: 15px;
	color: green;
	display: none;
}
#gridConfirmChanges, #radioControlsConfirmChanges, #interferenceControlsConfirmChanges{
	position: absolute;
	top: 43px;
	font-size: 9px;
	right: 17px;
	color: red;
	display: none;
}
.json{
	width: 100%;
	overflow-wrap: normal;
	overflow-wrap: break-word;
}
#globalControlLine {
	position: absolute;
	top: 530px;
	left: 30px;
	width: 90%;
	background-color: grey;
}
.notifications{
	width: 100%;
	height: 35px;
	position: absolute;
	background-color: #e74c3c;
	display: inline-block;
	line-height: 35px;
	z-index: 10;
	display: none;
	overflow: hidden;
}
#sizeWarning{
	width: 100%;
	height: 35px;
	position: absolute;
	background-color: #fdcb6e;
	display: inline-block;
	line-height: 35px;
	z-index: 5;
	overflow: hidden;
	text-align: center;
}
.title{
	width: 100%;
	height: 35px;
	position: absolute;
	display: inline-block;
	line-height: 35px;
	z-index: 1;
}
.title > .text-center{
	margin: 0px;
}
.text-center{
	height: 20px;
}
#scroll{
	position: absolute;
	color: white;
	width: 100%;
	max-height: 35px;
	overflow: hidden;
	-webkit-animation: mymove 5s infinite;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	animation: mymove 15s infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes mymove {
    from {left:10px;}
  	to {left:90%;}
}

@keyframes mymove {
    from {left:10px;}
  	to {left:90%}
}
#keyboardControls td:first-child{
	width: 345px;
}
.helpimg {
	width: 33px;
	padding: 2px;
}

@media (max-width: 1130px){
	.flip {
		float: right;
	}
	.col-md-8 {
		width: 100%;
	}
	.col-md-4 {
		width: 100%;
	}
	#globalControlLine {
		display: none;
	}
	#countdownTimerContainer {
		width: 24%;
		top: 128px;
	}
	#interferenceContainer {
		width: 24%;
		top: 155px;
		right: 240px;
	}
	.team_data {
		width: 160%;
	}
	.node-holder {
		width: 100%;
	}
	.node-info {
		width: 35%;
	}
	.control-info {
		width: 65%;
		float: inherit;
		margin: auto;
	}
	.control.knob-holder{
		width: 33% !important;
	}
}
@media (max-width: 991px){
	#score {
		height: 410px !important;
	}
	.control-info {
		width: 100%;
	}
	.control.knob-holder{
		width: 33% !important;
		float: left;
	}
}
@media (max-width: 768px){
	#gridView, #grid, #animations, #keyboard, #clickCanvas {
		width: 100%;
	}
	#interference, .interference-canvas {
		width: calc(100% + 80px)
	}
}

#loading-blocker {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
#loading-blocker .loading-img {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
	z-index: 1;
	padding: 5px;
	border-radius: 12px;
	background: #FFF;
}
#loading-blocker .background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 200px;
	opacity: 1;
	background: #CCC;
}
.flip {
	float: right;
}
#colors {
	width: 0px;
	margin: auto;
	height: 30px;
}
.color-div {
	width: 58px;
    height: 23px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 3px 0 0;
    float: left;
    background-color: transparent;
}
.color-div div{
	width: 23px;
    height: 23px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 3px 0 0;
    float: left;
}
.color-div span{
	margin-left: 4px;
}
.pointer {
	cursor: pointer;
}
#score {
	display: none; width: 100%; height: 170px;
}
#colors {
	display: none;
}
#react_grid #grid, 
#react_grid #animations,
#react_grid #clickCanvas,
#react_grid #keyboard,
#react_grid #interference {
	padding-top: 50px;
}
.control_btn {
	width: 70px;
	height: 70px;
}

.control_btn_text {
	color: white;
	font-size: 10px;
	position: relative;
	padding-top: 28px;
	text-align: center;
	top: 0%;
	margin-top: 0px;
}
.dpad-absolute-container{
	width: 100%;
	height: 175px;
	float: left;
}
.dpad-arrow {
	width: 62%;
    height: 175px;
}
.dpad-absolute {
	height: 100%;
}
.dpad-absolute .dpad-arrow-active {
	background-size: 175px auto;
}
.dpad-div {
	float: left; width: 60%;
}
.btn-div {
	float: right; width: 40%;
}
.pattern {
	width: 50%; margin: auto;
}
.pattern img {
	width: 100%;
}
.viewer-grid{
	padding-bottom: 25px;
}
#throughput_graphs_container button {
	margin: auto;
	display: block;
}
.remove-btn {
	position: absolute;
	right: 15px;
	top: 6px;
	width: 30px !important;
	height: 30px !important;
}
.node-sel-l {
	width: 25%;
	float: left;
}
.node-sel-r {
	width: 33%;
	float: left;
}
.node-sel-t {
	width: 40%;
	float: right;
}
.encr-sel-l {
	width: 40%;
	float: left;
	margin-bottom: 10px;
}
.encr-sel-r {
	width: 60%;
	float: right;
	margin-bottom: 10px;
}
